{
  "openapi": "3.0.1",
  "info": {
    "title": "文生图Qwen-Image-20B",
    "description": "",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/qwen_image/t2i": {
      "post": {
        "summary": "文生图Qwen-Image-20B",
        "operationId": "qwen_text2img_20b",
        "deprecated": false,
        "description": "",
        "tags": [],
        "parameters": [{
          "name": "Authorization",
          "in": "header",
          "description": "",
          "required": true,
          "example": "",
          "schema": {
            "type": "string"
          }
        }, {
          "name": "Content-Type",
          "in": "header",
          "description": "",
          "required": true,
          "example": "application/json",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "description": "用户提出的问题",
                    "type": "string"
                  },
                  "n": {
                    "description": "生成图片张数，最大为2",
                    "type": "integer"
                  },
                  "size": {
                    "description": "生成图片分辨率，格式为'width'x'height'。由于模型适用范围有限，输入尺寸会根据长宽比自动调整为模型最佳输出分辨率，默认值1328x1328",
                    "type": "string"
                  },
                  "response_format": {
                    "description": "输出格式，'url'或'b64_json'，默认值为url",
                    "type": "string"
                  }
                },
                "required": ["prompt", "response_format"]
              },
              "example": {
                "model": "qwen-image-20b",
                "prompt": "一只可爱的卡通猫咪坐在沙发上",
                "n": 1,
                "size": "1328x1328",
                "response_format": "url"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "total_patches": {
                          "type": "integer"
                        }
                      },
                      "required": ["total_patches"]
                    }
                  },
                  "required": ["code", "message", "created", "data", "usage"]
                },
                "example": {
                  "code": 1003,
                  "message": "local variable 'new_width' referenced before assignment",
                  "created": 1758765300,
                  "data": [{
                    "url": "http://obs-nmhhht6.cucloud.cn/yuanjing-t2i-oss/mllm/yuanjingt2i/2025-09-25/8492c102-6c98-4167-8e45-a935d5fd4426.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=64E9E75D768A4995830417A3CCC543EA3056/20250925/cn-langfang-2/s3/aws4_request&X-Amz-Date=20250925T015514Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=4c0136d1c85ae6153bb3dbe74c2284f5d9f1605fc631f5e51b4d5a6680c62307"
                  }],
                  "usage": {
                    "total_patches": 0
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [{
    "url": "https://maas-api.ai-yuanjing.com",
    "description": "maas"
  }],
  "security": []
}