{
  "openapi": "3.1.0",
  "info": {
    "title": "元景-图生图-12B",
    "description": "元景-图生图-12B接口，基于用户上传的图像，生成指定风格的图像",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/yuanjing_img2img": {
      "post": {
        "summary": "元景-图生图-12B接口，能将输入图片转换成指定风格。",
        "operationId": "yuanjing_img2img_12b",
        "deprecated": false,
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization: Bearer {$ACCESS_TOKEN}",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "description": "base64编码的图像字符串",
                    "example": "",
                    "type": "string"
                  },
                  "style": {
                    "description": "图片风格，目前支持吉卜力",
                    "example": "",
                    "type": "string"
                  },
                  "prompt": {
                    "description": "提示信息，预留接口，不生效",
                    "example": "",
                    "type": "string"
                  }
                },
                "required": [
                  "image",
                  "style"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "title": "状态码"
                    },
                    "message": {
                      "type": "string",
                      "title": "错误码描述信息"
                    },
                    "prompt": {
                      "type": "string",
                      "title": "风格化时使用的提示信息，英文"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "算法生成的图片的列表，每张图片都采用base64编码"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "total_patches": {
                          "type": "integer",
                          "title": "生成图片patch计数"
                        }
                      },
                      "required": [
                        "total_patches"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "prompt",
                    "result",
                    "usage"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://maas-api.ai-yuanjing.com",
      "description": "maas"
    }
  ]
}