{
  "openapi": "3.1.0",
  "info": {
    "title": "元景-首尾帧图生视频生成-14B",
    "description": "元景-首尾帧图生视频-14B，根据上传的两张首尾帧图片生成视频。",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/yuanjing_imgs2video": {
      "post": {
        "summary": "元景-首尾帧图生视频生成-14B",
        "operationId": "yuanjing_imgs2video",
        "deprecated": false,
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "首帧和尾帧对应的图像字符串，base64编码"
                  },
                  "query": {
                    "type": "string",
                    "description": "用户提出的问题或提示语。区别于已有的prompt"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "请求的对话窗口id"
                  },
                  "request_id": {
                    "type": "string",
                    "description": "用户每轮请求问题对应的唯一id"
                  },
                  "userId": {
                    "type": "string",
                    "description": "用户id"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "提示词"
                  }
                },
                "required": [
                  "images"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "状态码，用于表示请求成功或具体的错误类型。1003表示失败，详见msg，0表示成功"
                    },
                    "msg": {
                      "type": "string",
                      "description": "提示信息，通常用于提供关于code的详细解释或请求成功的确认信息"
                    },
                    "resourceId": {
                      "type": "string",
                      "description": "视频名，用于获取视频"
                    },
                    "session_id": {
                      "type": "string",
                      "description": "请求的对话窗口id"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "用户每轮请求问题对应的唯一id"
                    },
                    "userId": {
                      "type": "string",
                      "description": "用户id"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://maas-api.ai-yuanjing.com",
      "description": "maas"
    }
  ]
}